---
import Layout from '../../layouts/Base.astro'
import { getCollection } from 'astro:content'

const entries = await getCollection('articles')
---

<Layout title="Articles">
    <h1>Notes</h1>
    <ul>
        {entries.map((entry) => (
            <li>
                <a href={`/articles/${entry.slug}/`}>{entry.data.title}</a>
            </li>
        ))}
    </ul>
</Layout>