---
import { getCollection } from 'astro:content'
import Card from '../components/Card.astro'
import Layout from '../layouts/Base.astro'
import type { Entry } from '../content/config'

function sortEntry(a: Entry, b: Entry) {
	return b.data.date.getTime() - a.data.date.getTime()
}

const entries = await Promise.all([
	getCollection('articles'),
	getCollection('bookmarks'),
	getCollection('likes'),
	getCollection('notes'),
	getCollection('rsvp')
]).then(all => all.flat().sort(sortEntry))

function toString(entry: typeof entries[number]) {
	if ('title' in entry.data) {
		return entry.data.title
	}

	const body = entry.body.replace('\n', '')

	return body ? body.slice(0, 40) : `(${entry.collection}) ${entry.slug}`
}
---

<Layout>
	<h1>Latest posts</h1>
	<ul>
		{entries.map((entry) => (
			<li>
				<Card entry={entry} />
			</li>
		))}
	</ul>
</Layout>

<style>
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.875em;
		padding: 0 1em;
		max-width: 40ch;
		margin: 0 auto;
	}
</style>