---
import Layout from '../../layouts/Base.astro'
import { getCollection } from 'astro:content'

const entries = await getCollection('likes')
---

<Layout title="Likes">
    <h1>Likes</h1>
    <ul>
        {entries.map((entry) => (
            <li>
                <a href={`/likes/${entry.slug}/`}>{entry.slug}</a>
            </li>
        ))}
    </ul>
</Layout>