---
import '@fontsource/comic-neue'
import Footer from '../components/Footer.astro'
import Head, { type Props as HeadProps } from '../components/Head.astro'
import Header from '../components/Header.astro'

export type Props = HeadProps

const { ...head } = Astro.props
---

<html lang="en" data-theme="light">
  <head>
    <Head {...head} />
  </head>

  <body>
    <Header />

    <main id="main" class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    font-family: 'Comic Neue';
    font-size: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
  }

  body > :global(*:not(main)) {
    width: 100%;
    max-width: 100ch;
  }

  main {
    flex: 1;
    width: 100%;
    max-width: 80ch;
  }
</style>